html,body{
    margin:0;
    padding: 0;
    width: 100%;
    height:100%;
}
body{
    background-image: url('../images/grass-1920.jpg');
    background-size: cover;
    background-position: center;
    font: 14px;
    color: #4d4d4d;
    font-smoothing:antialiased;// 平滑像素级别的字体，而不是子像素。从亚像素渲染切换到黑暗背景上的浅色文本的抗锯齿使其看起来更轻。
    font-weight: 300;
}